.select li {
  float: left;
  list-style: none;
  margin: 30px;
}

.select-end {
  clear: both;
}

.ctg {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  height: 36px;
  font-size: 0;
}

.view li {
  float: left;
  list-style: none;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.image {
  float: left;
  padding-right: 20px;
}

.discription {
  width: 560px;
  word-wrap: break-word;
}
